<div class="pf-toasts-container">
  {{> components-toast-notification alertClass="alert-success" alertIcon="pficon-ok" alertType="Success" toastText="<strong>server_abc</strong> has been added to main server group." alertDismissible=true }}
  {{> components-toast-notification alertClass="alert-warning" alertIcon="pficon-warning-triangle-o" alertType="Warning" toastText="The server configuration has changed." toastLinkText="Reload Server" toastAction="true" }}
  {{> components-toast-notification alertClass="alert-danger" alertIcon="pficon-error-circle-o" alertType="Danger" toastText="Failed to add <strong>server_abc</strong>." toastLinkText="Retry" alertDismissible=true toastAction="true" }}
  {{> components-toast-notification alertClass="alert-info" alertIcon="pficon-info" alertType="Info" toastText="This server is in the North West Datacenter. Lorem ipsum dolor sit amet, consectetur adipiscing elit." toastLinkText="View Details" }}
</div>
